
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 12, 10);
  position: relative;
}

.header-container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  margin-left: 2%;
  justify-content: center;
  letter-spacing: 5px;
  padding: 0 40px;
}

.title-container span {
  font-family: "Jost";
  font-size: 3rem;
  color: white;
}

.title-container i {
  font-size: 3rem;
  color: white;
}

#z {
  color: rgb(45, 140, 255);
}

.typing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.words-container {
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  width: 100%;
  height: 30vh;
}

.test-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
  gap: 3%;
}

.inputs-container form {
  height: 100%;
  width: 70%;
}

.inputs-container form input {
  width: 100%;
  height: 95%;
  font-size: 40px;
  padding-left: 10px;
  color: white;
  background-color: rgb(50, 50, 50);
  outline: none;
  border: none;
  border-radius: 5px;
}

.inputs-container span {
  width: 20%;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: "Poppins";
  letter-spacing: 2px;
  color: white;
}

.inputs-container button {
  width: 20%;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(50, 50, 50);
  outline: none;
  border: none;
  font-family: "Poppins";
}

footer {
  width: 100%;
  height: 40vh;
  background-color: rgb(5, 12, 10);
}

.information-container {
  color: rgb(90, 90, 90);
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.social-media-container {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  font-size: 2rem;
}

.social-media-container i {
  transition: all 0.3s ease 0s;
}

.social-media-container i:hover {
  color: rgb(200, 200, 200);
  transform: translateY(-7px);
}

.social-media-container a:visited {
  color: rgb(90, 90, 90);
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 60vh;
  background-color: rgb(60, 60, 60);
  box-sizing: border-box;
  /* box-shadow: 0px 10px 40px 2px black; */
  box-shadow: 2px 2px 60px 1px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 10px;
  animation: fadeIn .5s ease;
  color: white;
  font-size: 1.3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.test-results-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
}

.test-results-container div {
  background-color: rgba(10, 10, 10, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  width: 70%;
  height: 10%;
  border-radius: 50px;
  transition: .5s ease;
}

.test-results-container div:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.reset {
  margin: 0 auto  ;
}

.WPM {
  font-size: 3rem;
  font-weight: 600;
}

.results-container {
  opacity: 1;
  transition: 0.4s ease;
}

.results-container.fade-out {
  opacity: 0;
  transform: translateY(-50px);
}
